body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 100vh;
  margin: auto;
}

h3 {
  font-weight: bold;
}

.form-input {
  width: 100%;
  border: 0px solid transparent;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 3.5em;
  outline: none;
  margin: 1em auto;
  transition: all 0.5s ease;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  left: 15px;
  top: 35px;
  color: gray;
}

.btn-purple {
  background-color: #28285d;
  color: #ffffff;
  width: 90%;
}

.btn-purple:hover {
  background-color: #1b1b3f;
  color: #ffffff;
}
